/* h1 {
            text-align: center;
             display: inline-block; 
            margin: 20px auto;
        }

        button {
             display: inline-block;
            justify-content: flex-end; 

        }

        button {
            margin: 0 auto;
            display: block;
        }
    </style>
    */




/* // ----------------------------x----------------------card */

    /* body{
        text-align: center;
    }

#card1{
    background-color: aqua;
    width: 100px;
    height: 100px;
}
#card2 {
    background-color: brown;
    width: 100px;
    height: 100px;
}#card3 {
    background-color:  blueviolet;
    width: 100px;
    height: 100px;
}#card4 {
    background-color: yellow;
    width: 100px;
    height: 100px;
} */

/* // ----------------------------x----------------------card_end */



    /* < !-- ----------Animation Progress rePeat Style------------------x---------------------- -->.*/

    /* h1{
        background-color: black;
        text-align: center;
        color: red;
    } */



    /* < !-- ----------Animation Progress rePeat Style END------------------x---------------------- -->.*/


    /* < !-- ----------BreakPoint-------Start-----------x---------------------- -->.*/


    /* < !-- ----------Play with grid -----Start-------------x---------------------- --> */

/* 
.childs1{
    background-color: blue;
    width: 200px;
    height: 200px;
}

.childs2{
    background-color: brown;
    width: 200px;
    height: 200px;
} */


        /* < !-- ----------Play with grid -----end-------------x---------------------- --> */



                /* < !-- ----------Play with div onclick -----end-------------x---------------------- --> */

/* 
div {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 1px solid #f00;

}

p {
    display: flex
} */

                                /* < !-- ----------Play with div onclick -----end-------------x---------------------- --> */